<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let news of teslaNewsDisplay">
        <div class="card h-100">
            <img src="{{news.urlToImage}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{news.title}}</h5>
                <a href="{{news.url}}" class="btn btn-primary">Read more</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{news.publishedAt}}</small>
            </div>
        </div>
    </div>
</div>

